/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    // READ_QC subworkflow
    withName: 'FASTQC' {
        ext.args   = '--quiet'
        ext.prefix = { meta.read_group }
    }

    // TRIM_READS subworkflow
    withName: 'FASTP' {
        ext.prefix = { meta.read_group }
    }

    // ALIGN_READS subworkflow
    withName: 'BWAMEM3_MEM' {
        ext.args   = {
            def platform_unit = "${meta.flowcell}.${meta.lane}.${meta.id}_${meta.library}"
            "-R '@RG\\tID:${platform_unit}\\tSM:${meta.id}\\tLB:${meta.library}\\tPU:${platform_unit}\\tPL:${meta.pl}'"
        }
        ext.args2  = params.enable_cram_format ? "--output-fmt cram --write-index" : "--write-index"
        ext.prefix = { meta.read_group }
    }
    withName: 'PARABRICKS_FQ2BAM' {
        ext.args   = {
            def platform_unit = "${meta.flowcell}.${meta.lane}.${meta.id}_${meta.library}"
            [
                "--read-group-sm ${meta.id}",
                "--read-group-lb ${meta.library}",
                "--read-group-pl ${meta.pl}",
                "--read-group-id-prefix ${platform_unit}",
                params.enable_sort_alignments ? "--gpusort" : "--align-only",
                "--no-markdups",
                "--gpuwrite"
            ].join(" ")
        }
        ext.prefix = { meta.read_group }
    }
    withName: 'SAMTOOLS_INDEX' {
        ext.args   = "--csi"
    }

    // ALIGN_READS:ALIGNMENT_QC subworkflow
    withName: '.*:ALIGN_READS:ALIGNMENT_QC:SAMTOOLS_FLAGSTAT' {
        ext.prefix = { "library_${meta.read_group}" }
    }
    withName: '.*:ALIGN_READS:ALIGNMENT_QC:RIKER_MULTI' {
        ext.args   = '--tools alignment basic isize wgs gcbias'
        ext.prefix = { "library_${meta.read_group}" }
    }
    withName: '.*:ALIGN_READS:ALIGNMENT_QC:QUALIMAP_BAMQC' {
        ext.prefix = { "library_${meta.read_group}" }
    }

    // MERGE_LIBRARIES subworkflow
    withName: 'SAMTOOLS_MERGE' {
        ext.args   = '--write-index'
    }

    // MERGE_LIBRARIES:ALIGNMENT_QC subworkflow
    withName: '.*:MERGE_LIBRARIES:ALIGNMENT_QC:SAMTOOLS_FLAGSTAT' {
        ext.prefix = { "sample_${meta.id}" }
    }
    withName: '.*:MERGE_LIBRARIES:ALIGNMENT_QC:RIKER_MULTI' {
        ext.args   = '--tools alignment basic isize wgs gcbias'
        ext.prefix = { "sample_${meta.id}" }
    }
    withName: '.*:MERGE_LIBRARIES:ALIGNMENT_QC:QUALIMAP_BAMQC' {
        ext.prefix = { "sample_${meta.id}" }
    }

    // MULTIQC
    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
    }

}
