/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run biovat -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

// Enable pipeline resume by default
resume = true

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
    withName: 'BWA_INDEX' {
            memory = 1.GB
        }
}

params {

    // Test params
    input     = "${projectDir}/tests/data/samplesheet.csv"
    reference = "${projectDir}/tests/data/sumatran_rhino.fasta"
    steps     = 'align'
    outdir    = 'results'

    // Temp
    align_raw_reads = true // temp setting until trimming subworkflow is implemented

    // Boilerplate
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

}
