/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run biovat -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '20.GB',
        time: '1.h'
    ]
}

params {

    // Test params
    input     = './tests/data/samplesheet.csv'
    reference = './tests/data/sumatran_rhino.fasta'
    steps     = 'align'
    outdir    = 'results'

    // Temp
    align_raw_reads = true // temp setting until trimming subworkflow is implemented
    aligner   = 'parabricks'


    // Boilerplate
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

}
