process {

    // ALIGN_READS subworkflow
    withName: PARABRICKS_FQ2BAM {
        accelerator      = {
            params.gpu_resources
                ? (params.gpu_resources.contains(':')
                    ? params.gpu_resources.split(':')[1] as int
                    : params.gpu_resources as int)
                : 1
        }
        clusterOptions   = {
            [
                "-p ${params.gpu_partition}",
                params.gpu_resources ? "--gpus=${params.gpu_resources}" : "--gpus=1",
            ].minus("").join(" ")
        }
        containerOptions = {
            workflow.containerEngine in ['singularity', 'apptainer']
                ? "--nv"
                : '--gpus all'
        }
    }

}
