process {
    withLabel: process_gpu {
        accelerator      = {
            params.gpu_gres
                ? params.gpu_gres.tokenize(':').last() as int
                : 1
        }
        containerOptions = {
            workflow.containerEngine in ['singularity', 'apptainer']
                ? "--nv"
                : '--gpus all'
        }
    }
}
