process {
    withLabel: process_gpu {
        accelerator      = {
            params.gpu_gres
                ? (params.gpu_gres.contains(':')
                    ? params.gpu_gres.split(':')[1] as int
                    : params.gpu_gres as int)
                : 1
        }
        containerOptions = {
            workflow.containerEngine in ['singularity', 'apptainer']
                ? "--nv"
                : '--gpus all'
        }
    }
}
